<div class="card  mb-2 ">
  <div class="d-flex p-3">
   <label for="category" >Filter by price : </label>
   <!-- <select name="category" class="m-1" id="category"  [value]="listFilter" ></select> -->
   <input class="form-control" [(ngModel)]="listFilter" class="pl-2">

   <div class="">

    <label for="category" >Choose Category : </label>
    <select name="category" class="m-1" id="category"  [(ngModel)]="categoryFilter" >
      <option value="">All</option>
    <option  *ngFor="let el of categoryList "value="{{el.id}}">{{el.name}}</option>


  </select>
    </div>
  </div>
</div>

   <app-products [listFilterChild]="listFilter" [catFilterChild]="categoryFilter" ></app-products>

