
<div class="row">
  <div class="col-md-12">
    <form action="index.html" method="post">
      <h1> Sign In </h1>

      <form (ngSubmit)="loginFunc()" #signInForm="ngForm">


        <label for="email">Email:</label>
        <input type="email" id="email" name="email"
        placeholder="Email (required)"
        [(ngModel)]="email"
       >



        <label for="password">Password:</label>
        <input class="form-control" id="passwordId" type="password" placeholder="Password (required)"
        [(ngModel)]="password"
           />

       <a (click)="navigateToSignUp()" >don't have email</a>



      <button type="submit" [disabled]="signInForm.invalid" >Sign In</button>
    </form>
     </form>
      </div>
    </div>

